{% extends 'layout.html' %}

{% block content %}
<h1>Settings</h1>

<form id=settings class='block-group' method='POST' action='{{ url_for('auth.change_userinfo') }}'>
  <div class=group>
    <label for=name>Name</label>
    <input name=name id=name type=text value='{{ g.user.name }}'>
  </div>
  <div class=group>
    <label for=email>Email</label>
    <input name=email id=email type=text value='{{ g.user.email }}'>
  </div>
  <div class=group>
    <button id=user-info-save>Save</button>
  </div>
</form>

<h1>Goals</h1>

<div id='goals-view' data-bind='foreach: goals'>
  <form class='goal-form' data-bind='attr { id: "form" + id() }'>
    <label for=target class='goal-name' data-bind="text: name"></label>
    <input name=target type=number data-bind="
    value: target, valueUpdate: 'afterkeydown',
    enable: scope() !== undefined
    ">
    <label for=target>Wh</label>
    <label for=scope>Goal scope</label>
    <select name=scope data-bind='
      options: $root.scopeOptions,
      optionsText: function(item) {
      return item[0].toUpperCase() + item.substring(1, item.length);
      },
      value: scope,
      optionsCaption: "Select..."
      '></select>
    <a href="#" class='save' data-bind="css: { disabled: !changed() }, click: save">Save</a>
    <a href="#" class='delete' data-bind="click: remove">Delete</a>
  </form>
</div>

<a href='#' id='add-goal' data-bind='click: addGoal'>Add a new goal</a>


<h3>Delete profile</h3>

<a href='{{ url_for('auth.delete_profile') }}' id='delete-profile'>Delete your profile</a>

{% endblock %}

{% block beforeend %}
<script data-main='/static/scripts/profileEdit.js'
  src='/static/vendor/requirejs/require.js'></script>
{% endblock %}
