{% extends 'layout.html' %}

{% block content %}
<h1>Settings</h1>

<form id=settings class='block-group'>
  <div class=group>
    <label for=name>Name</label>
    <input name=name id=name type=text value='{{ g.user.name }}'>
  </div>
  <div class=group>
    <label for=email>Email</label>
    <input name=email id=email type=text value='{{ g.user.email }}'>
  </div>
</form>

<h1>Goals</h1>

<div id='goals-view' data-bind='foreach: goals'>
  <form class='goal-form block-group' data-bind='attr { id: "form" + id() }'>
    <label for=target class='goal-name block' data-bind="text: name"></label>
    <input name=target class='goal-target block' type=number data-bind="value: target">
    <label for=target class='goal-target block'>Wh</label>
    <label for=scope class='goal-scope block'>Goal scope</label>
    <select name=scope class='goal-scope block' data-bind='
      options: $root.scopeOptions,
      optionsText: function(item) {
        return item[0].toUpperCase() + item.substring(1, item.length);
      },
      value: scope,
      optionsCaption: "Select..."
      '></select>
    <a href="#" class='save block' data-bind="attr { id: 'goal' + id() }, css: { disabled: !changed() }, click: save">Save</a>
    <a href="#" class='delete block'>Delete</a>
  </form>
</div>

<a href='#' id='add-goal' data-bind='click: addGoal'>Add a new goal</a>

{% endblock %}

{% block beforeend %}
<script data-main='/static/scripts/profileEdit.js'
  src='/static/vendor/requirejs/require.js'></script>
{% endblock %}
