{% extends 'layout.html' %}

{% block content %}

<h1>Register</h1>

<form action={{ url_for('auth.register') }} method=POST>
  <input class=block name=name type=text placeholder="your full name"
  tabindex=1 autocomplete=off data-bind='value: name, valueUpdate: "afterkeydown"'>
  <input class=block name=email type=text placeholder="email address"
  tabindex=2 autocomplete=off data-bind='value: email, valueUpdate: "afterkeydown"'>
  <input class=block name=password type=password placeholder="password"
  tabindex=3 data-bind='value: pass, valueUpdate: "afterkeydown"'>
  <input class=block name=conf-password type=password placeholder="confirm password"
  tabindex=4 data-bind='value: conf, valueUpdate: "afterkeydown"'>
  <button class=block type=submit
    tabindex=5 data-bind='enable: canSubmit'>Register</button>
</form>

{% endblock %}

{% block beforeend %}
<script data-main='/static/scripts/auth.js'
  src='/static/vendor/requirejs/require.js'></script>
{% endblock %}
