{% extends 'layout.html' %}

{% block content %}

<h1>Register</h1>

<form action={{ url_for('auth.register') }} method=POST>
  <input class=block name=name type=text placeholder="your full name" tabindex=1 autocomplete=off>
  <input class=block name=email type=text placeholder="email address" tabindex=2 autocomplete=off>
  <input class=block name=password type=password placeholder="password" tabindex=3>
  <input class=block name=conf-password type=password placeholder="confirm password" tabindex=4>
  <button class=block type=submit tabindex=5>Register</button>
</form>

{% endblock %}
