.axis
  path, line
    fill: none
    stroke: $lightgrey
    shape-rendering: crispEdges

.x.axis path
  display: none

.y, .x
  stroke: $lightgrey

.line
  fill: none
  stroke: $brightblue
  stroke-width: 1.5px


