.axis
  path, line
    fill: none
    stroke: $lightgrey
    shape-rendering: crispEdges

.x.axis path
  display: none

.y, .x 
  stroke: $lightgrey !important
  fill: $lightgrey
.y_ticks .tick
  fill: $lightgrey
.y_grid .tick
  stroke: darken($lightgrey, 43%) !important

.line
  fill: none
  stroke: $brightblue
  stroke-width: 1.5px


