#settings
  .group
    label
      display: inline-block
      width: 10%

.goal-form
  *
    line-height: 40px
  label.goal-name
    width: 20%
  input.goal-target
    width: 25%
  label.goal-target
    width: 5%
  label.goal-scope
    text-align: right
    width: 15%
  select.goal-scope
    width: 15%

