#settings
  .group
    label
      display: inline-block
      width: 10%

.goal-form
  *
    line-height: 40px
  label.goal-name
    width: 20%
  input.goal-target
    width: 15%
  label.goal-target
    width: 5%
  label.goal-scope
    text-align: right
    width: 15%
  select.goal-scope
    width: 15%
  a.save
    width: 5%
  a.delete
    width: 7%

.goal-form
  a
    text-align: center
    transition: 0.1s all ease-in-out
    background-color: $darkgrey
    &:hover:not(.disabled)
      background-color: $darkblue
    &.disabled
      color: $grey
      cursor: default
