#settings
  .group
    label
      display: inline-block

.goal-form
  label.goal-name
    display: inline-block
  a
    text-align: center
    transition: 0.1s all ease-in-out
    background-color: $darkgrey
    &:hover:not(.disabled)
      background-color: $darkblue
    &.disabled
      color: $grey
      cursor: default
  input
    width: 15%

#user-info-save
  width: 30%
