@import 'colours'
// positioning
$title_indent: 30px
// colours
$color_bad: $red
$color_good: $green
$color_neutral: $lightgrey

.widget
  padding: 10px
  padding-left: $title_indent + 10
  margin-bottom: 20px
  border: 1px solid transparent
  &:hover
    border: 1px solid rgba(255,255,255,0.05)
    cursor: pointer

.title
  margin-left: -$title_indent
  display: block
  font-weight: bold
  font-style: italic

.statistic
  font-weight: bold
.bad
  color: $color_bad
.good
  color: $color_good
.neutral
  color: $color_neutral

.fullchart
  font-size: 12px

