@import 'colours'
// positioning
$title_indent: 30px
// colours
$color_bad: $red
$color_good: $green
$color_neutral: $lightgrey

.widget
  margin-left: $title_indent
  margin-bottom: 40px

.title
  margin-left: -$title_indent
  display: block
  font-weight: bold
  font-style: italic

.statistic
  font-weight: bold
.bad
  color: $color_bad
.good
  color: $color_good
.neutral
  color: $color_neutral
