// positioning
$title_indent: 30px
// colours
$color_bad: #bc1236
$color_good: #22bc38

.widget
  margin-left: $title_indent
  margin-bottom: 40px

.title
  margin-left: -$title_indent
  display: block
  font-weight: bold
  font-style: italic

.statistic
  font-weight: bold
.bad
  color: $color_bad
.good
  color: $color_good
