@import 'colours'
// colours
$bg: $grey 
$text: $brightblue
$bg_dark: $darkgrey
$text_dark: $darkblue
// media query screen sizes
$screen_mobile: 640px
$screen_small: 860px
$screen_medium: 1090px
$screen_large: 1700px


body
  margin: 0 auto
  font-family: 'Lato', sans-serif
  background-color: $bg
  color: $text

span.wordmark
  font-style: italic
  color: $green

.content
  @media screen and (max-width: $screen_mobile)
    padding: 10px
    font-size: 20px
    #dashboard
      font-size: 30px

  @media screen and (min-width: $screen_mobile+1) and (max-width: $screen_small)
    padding: 30px 60px
    font-size: 24px
    #dashboard
      font-size: 26px

  @media screen and (min-width: $screen_small+1) and (max-width: $screen_medium)
    padding: 30px 70px
    font-size: 26px
    #dashboard
      font-size: 36px

  @media screen and (min-width: $screen_medium+1) and (max-width: $screen_large)
    padding: 30px 150px
    font-size: 30px
    #dashboard
      font-size: 40px

  @media screen and (min-width: $screen_large+1)
    padding: 50px 300px 
    font-size: 36px
    #dashboard
      font-size: 56px

.content /* fixed header bar offset */
  padding-top: 70px

::selection
  background: $text_dark

a
  text-decoration: none

@import 'header'
@import 'form'

#spinner
  display: none
  position: fixed
  left: 0
  right: 0
  top: 0
  bottom: 0
  margin: auto auto
  height: 120px
  background-color: black
  background-image: url('/static/img/ajax.gif')
  background-repeat: no-repeat
  background-position: center
  opacity: 0.5
  transition: opacity 0.1s ease-in-out
  padding-top: 20px
  text-align: center
  color: white

@import 'agreement'
@import 'landing'
@import 'editprofile'
