// colours
$background_colour: #252b2f
$text_colour: #3498db
$header_bg_colour: #171b1f
$header_link_colour: darken($text_colour, 20%)
// media query screen sizes
$screen_mobile: 640px
$screen_medium: 1000px
$screen_large: 1700px

body
  margin: 0 auto
  font-family: 'Lato', sans-serif
  background-color: $background_colour
  color: $text_colour

  
div.login
  height: 30px
  float: right
  padding-top: 4px

a
  text-decoration: none

header
  background-color: $header_bg_colour
  font-size: 16px
  padding: 15px
  .header
    font-weight: bold
    font-style: italic
    font-size: 24px
  a
    color: $header_link_colour

.content
  @media screen and (max-width: $screen_mobile)
    padding: 10px

  @media screen and (min-width: $screen_mobile+1) and (max-width: $screen-medium)
    padding: 10px 60px

  @media screen and (min-width: $screen_medium+1) and (max-width: $screen_large)
    padding: 30px 150px

  @media screen and (min-width: $screen_large+1)
    padding: 50px 300px 


div.flash
  border-radius: 5px
  color: white
  padding: 10px
  &.error
    background-color: red
  &.success
    background-color: green


form
  *
    width: 100%
