body
  margin: 0 auto
  width: 640px
  font-family: sans-serif

div.login
  text-align: right
  padding-top: 10px

a
  text-decoration: none

header
  font-size: 30px
  text-align: center

div.flash
  border-radius: 5px
  color: white
  padding: 10px
  &.error
    background-color: red
  &.success
    background-color: green


form
  *
    width: 100%
