{% extends 'layout.html' %}

{% block head %}
<link href='/static/vendor/rickshaw/rickshaw.css' rel=stylesheet type=text/css>
<link href='/static/css/dashboard.css' rel=stylesheet type=text/css>
{% endblock %}

{% block content %}

<div id=goals>
  <ul data-bind="foreach: { data: goals, afterRender: drawGoals }">
    <li class='block-group'>
      <span class='block meter' data-bind="attr: {
        'id': goalId, 'min': min, 'max': max,
        'current': current, 'goal': goal,
        'message': messageText, 'title': titleText
        }"></span>
      <a href="#" class=block>Edit</a>
    </li>
  </ul>
</div>

<div id=dashboard data-bind="foreach: widgets">
  <div class=widget data-bind="click: toggleChart">
    <span class=title data-bind="text: title"></span>
    <span class='pad text' data-bind="text: text1"></span>
    <span class=statistic data-bind="text: displayValue(), css: cssClass()"></span>
    <span class=text data-bind="text: text2"></span>
    <div class=fullchart data-bind="style: { display: chart() ? 'block' : 'none' }">
      <div data-bind="attr: { 'id': chartId }"> </div>
    </div>
  </div>
</div>

{% endblock %}

{% block beforeend %}
<script data-main="/static/scripts/dashboardMain.js"
  src="/static/vendor/requirejs/require.js"></script>
{% endblock %}
