{% extends 'layout.html' %}

{% block head %}
<link href='/static/css/dashboard.css' rel=stylesheet type=text/css>
{% endblock %}

{% block content %}

<div id=dashboard>
  <div class=widget>
    <span class=title>Yesterday,</span> you used <span class=statistic id=yesterday-delta>--</span> energy than average.
  </div>
  <div class=widget>
    <span class=title>Last week,</span> you used <span class=statistic id=weekly-delta>--</span> energy than average.
  </div>
</div>

{% endblock %}

{% block beforeend %}
<script src='/static/js/underscore.js'></script>
<script src='/static/js/backbone.js'></script>
<script src='/static/js/dashboard/main.js'></script>

{% endblock %}
