{% extends "layout.html" %}

{% block content %}
<h1>Welcome to <span class=wordmark>{{ g.appname }}!</span></h1>

<p>
  <span class=wordmark>{{ g.appname }}</span> is a dashboard which monitors your energy usage. All you have to do is create an account,
  download your energy data, and we'll give you useful numbers that paint a picture of your energy
  consumption.
</p>

<div class='landing-auth block-group'>
  <form action='{{ url_for('auth.login') }}' class=block>
    <button class=login name=login type=submit tabindex=1>Log In</button>
  </form>
  <form action='{{ url_for('auth.register') }}' class=block>
    <button class=register name=register type=submit tabindex=2>Register</button>
  </form>
</div>
{% endblock %}
