{% extends "layout.html" %}

{% block head %}
<link href="/static/css/landing.css" rel=stylesheet type=text/css>
{% endblock %}
{% block content %}
<h1>Welcome to EnergyApps!</h1>

<p>
  EnergyApps is a dashboard which monitors your energy usage. All you have to do is create an account,
  download your energy data, and we'll give you useful numbers that paint a picture of your energy
  consumption.
</p>

<div class=landing-auth>
  <a class='button login' href='{{ url_for('auth.login') }}'>Log In</a>
  <a class='button register' href='{{ url_for('auth.register') }}'>Register</a>
</div>
{% endblock %}
