<!doctype html>
<html>
  <head>
    <title>GeorgeEnergyApp</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700italic' rel='stylesheet' type='text/css'>
    <link href='/static/css/styles.css' rel=stylesheet type=text/css>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <header>
      <span class=header><a href=/>EnergyApps</a></span>
      <ul id=menu>
        <li class=refresh>
          <a id=refresh-eui href=#>Refresh data</a>
        </li>
        <li class=login>
          {% if g.user.is_authenticated() %}
            {{ g.user.name }} <a href='{{ url_for('auth.logout') }}'>Log out</a>
          {% else %}
            <a href='{{ url_for('auth.login') }}'>Log in</a> or <a href='{{ url_for('auth.register') }}'>Sign up!</a>
          {% endif %}
        </li>
      </ul>
    </header>

    <div id=spinner></div>

    <div class=content>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for class, message in messages %}
      <div class='flash {{ class }}'>{{ message }}</div>
      {% endfor %}
      {% endif %}
      {% endwith %}

      {% block content %}
      {% endblock %}
    </div>
      <script src="/static/js/main.js"></script>
      {% block beforeend %}
      {% endblock %}
  </body>
</html>
