<!doctype html>
<html>
  <head>
    <title>GeorgeEnergyApp</title>
    <link href='/static/css/styles.css' rel=stylesheet type=text/css>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class=login>
      {% if g.user.is_authenticated() %}
        {{ g.user.name }} <a href='{{ url_for('auth.logout') }}'>Log out</a>
      {% else %}
        <a href='{{ url_for('auth.login') }}'>Log in</a> or <a href='{{ url_for('auth.register') }}'>Sign up!</a>
      {% endif %}
    </div>

    <header>
      <h1><a href=/>EnergyApps</a></h1>
    </header>

    <div class=content>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for class, message in messages %}
      <div class='flash {{ class }}'>{{ message }}</div>
      {% endfor %}
      {% endif %}
      {% endwith %}

      {% block content %}
      {% endblock %}
    </div>
      {% block beforeend %}
      {% endblock %}
  </body>
</html>
